.header{
    padding: 30px;
    background-color: #fa7474;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar-item{
    margin-left: 20px;
    font-size: 18px;
    color: #A60000;
    transition: 1s;
}
.nav-bar-item:hover{
    color: #000;

}
.logo{
    color: #A60000;
}
.nav-logo{
    display: flex;
align-items: center;
    justify-content: space-between;
}
.active{
    color: black;
}
.callback{
    background-color: rgba(166, 0, 0, 0.93);
    padding: 5px 20px;
    border-radius: 8px;
    margin-left:20px ;
    border: none;
    transition: 1s;
}
.callback:hover{
    background-color: rgba(166, 0, 0, 0.53);
}
.modal-window{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(250, 116, 116, 0.59);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.modal-content{
    max-width: 50%;
    padding: 15px;
    position: relative;
}
.close-modal{
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
}
.form-input{
    width: 100%;
    border: 1px solid #484747;
    height: 40px;
    border-radius: 8px;
}
.sent-btn{
    display: block;
    margin-left: auto;
    margin-top: 10px;
}